.shopping-cart {
	display: block;
	margin: 0 auto;
	width: 1000px;
	background: white;
	border-radius: 5px;
}

.shopping-cart__title {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	padding: 20px 0;
}

.shopping-cart__item {
	display: flex;
	order: -2;
	padding: 30px 0 0 30px;
}

.shopping-cart img {
	width: 100px;
}

.shopping-cart h1,
.shopping-cart p {
	padding: 2px 0;
	margin: 0 20px;
	font-weight: bold;
}

.shopping-cart button {
	border-radius: 5px;
	border: 1px solid lightcoral;
	padding: 10px;
	background: transparent;
	transition: 0.15s ease-in-out;
	margin: 10px 0;
	color: lightcoral;
	margin-left: 22px;
}

.shopping-cart button:hover {
	cursor: pointer;
	background: lightcoral;
	color: white;
}

.shopping-cart__checkout {
	margin: 30px 0;
	border-top: 1px solid lightgray;
	padding: 20px 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #141618;
	color: white;
}

.shopping-cart button {
	border: 1px solid white;
	background: transparent;
	border-radius: 5px;
	padding: 10px;
	color: white;
}

.shopping-cart button:hover {
	background: black;
	color: white;
}